*{
	margin: 0;
	padding: 0;
	list-style: none; 
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body{
background-color: #222222;
	font-size: 15px;
	line-height: 20px;
	width: auto;
}
.resume_wrapper{
	display: flex;
	width: 700px;
	margin: 350px auto;
	background: #fff;
    height: auto ;
	position: relative;
}
.fa-solidz{
	right: 0;
	top: 0;
	position: absolute;
	color:#c0c0c0;
	font-size: 40px;
	z-index: 1;
	padding: 12px;
}
.fa-solidz2{
	right: 50px;
	top: 0;
	position: absolute;
	color:#c0c0c0;
	font-size: 40px;
	z-index: 1;
	padding: 12px;
}
i:hover{
	color: #000;
}
.resume_wrapper .resume_left{
	width: 145%;
	background: #696969;
	position: relative;
	
}

.resume_left .lineone{
	background-color: #fff;
	width: 100%;
	height: 20px;
	position: absolute;
	top: 120px;
}
.profile-pic-div{

	position: absolute;
	width: 200px;
	height: 200px;
}
.line{
	width: 100%;
	height: 20px;
	z-index: 1;
	margin-top: 30px
}
.resume_wrapper .resume_left .resume_image{
	width: 100%;
	height: 150px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 150px;
	cursor: pointer;
}
.resume_wrapper .resume_left .resume_image img{
	border-radius: 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 50px;
	object-fit: cover;
} 
.resume_wrapper .resume_title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
    margin-left: 30px;
	margin-bottom: 20px;
    margin-top: 20px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.resume_wrapper .resume_left .resume_info{
	color:#fff;
    margin-left: 30px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 4px;
}
.resume_wrapper .resume_left .resume_info1{
	color:#fff;
    margin-left: 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 4px;
	display: inline-block;
}
.resume_subinfo1{
	color: #8DEEEE;
	position: relative;
	padding-right: 20px;
	word-break: break-all;
}   
.resume_subinfo3{
	padding-left: 10px;
	padding-right: 10px;
	padding-right: 20px;
	word-break: break-all;
} 
.resume_subinfo{
	padding-left: 6px;
	width: 140px;
	color:rgb(218, 130, 16);
	padding-right: 20px;
	word-break: break-all;
} 
.resume_subinfo2{
	width: 80px;
	word-break: break-all;
	color: yellow;

}
.resume_subinfo4{
	width: 85px;
	word-break: break-all;
	color: yellowgreen;
}
.resume_subinfo5{
	padding-left: 8px;
	padding-right: 20px;
	word-break: break-all;
	color: pink;
}
.facontract {
    font-size: 13px;
    padding-right: 10px;
} 
.fa-brands{
    font-size: 18px;
    padding-right: 10px;
	padding-top: 0;
}  
.fa-brands1{
	background-color:#4267b2 ;
	border-radius: 5px;
	padding-right: 8px;
}
.fa-brands2{
	background-color:#E34258;
	border-radius: 5px;
	padding-right: 3px;
}
.fa-brands3{
	background-color:#55ACEE;
	border-radius: 5px;
	padding-right: 1px;
}
.fa-brands4{
	background-color:#55ACEE;
	border-radius: 5px;
	padding-right: 3px;
}
.resume_wrapper .cv-block-title{
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
    margin-left: 30px;
	margin-bottom: 20px;
    margin-top: 20px;
	text-transform: capitalize;
	letter-spacing: 1px;
	width: 100%;
}
.cv-text-block{
 
    flex-wrap: wrap;
	margin-right: 10px;
	width: 100%;
}
.block-item-skill{
	color:#fff;
    margin-left: 30px;
	margin-right: 25px;
	margin-bottom: 2px;
	margin-top: 4px;
	font-size: 13px;
}
.cv-block-item{
    display: flex;
}
.block-item-skill{
    width: 100px;
	word-break: break-all;
}
.fa-starr{
	font-size: 10px;
	
}
.fa-starr1{
	font-size: 10px;
	color: #c0c0c0;;
	
}
.block-item-icon{
	margin-right: 10px;
	color: #fff;
}
.cv-block-item-hobby{
    display: flex;
    flex-wrap: wrap;
}
.item-hobby{
    width: 50%;
}
.item-hobby i{
    margin-right: 3px;
	margin-bottom: 15px;
}

.block-item-icon i {
    margin: 0px ;
}
.block-item-hobby{
    width: 80px;
    word-wrap: break-word;
}
.fa-solid3{
	color: #fff;
}
.block-item-hobby{
	color: #fff;
	margin-left: 5px;
}
.cv-block-item-hobby{
	padding-left: 30px;
}
.resume_wrapper .resume_right{
	width: 210%;
	background: #fff;
	position: relative;
	padding: 80px 30px 30px 25px ;
}
.nameperson{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
	font-size: 30px;
	padding-bottom: 20px;
	font-weight:600 ;
	letter-spacing: 4px;
}
.namework{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
	font-size: 23px;
	letter-spacing: 6px;
	font-weight:200 ;
	padding-bottom: 50px;
	color: #444444;
}
.resume_subinfo_right_1{
	color: #004400;
	font-size:17px;
	font-weight:700 ;
	padding-bottom: 15px;
	padding-top: 15px;
}
.resume_subinfo_right_3{
	font-weight:700 ;
}
.resume_subinfo_right_5{
	padding-bottom: 10px;
}
.resume_subinfo_right_5 li{
	display: inline-block;
}
.resume_subinfo_right_2{
	padding-top: 10px;
	font-size: 15px;
}
.resume_subinfo_right_4{
	color: #555555;
}




@media screen and (max-width: 697px) {
	.resume_wrapper{
		width: 94%;
		margin: 10px auto;
		flex-direction: column;
	}
	.resume_wrapper .resume_left .line{
		display: none;
	}
	.resume_wrapper .resume_left,
	.resume_wrapper .resume_right{
		width: 100%;
	}
	/* .nameperson{
		display: inline;
	} */
	.namework{
		display: inline;
		display: block;
		margin-bottom: 20px;
	}
	.resume_wrapper .resume_left .resume_image img{
		text-align: center;
	}
	.cv-block-item-hobby{
		display: inline-block;
	}
	.fa-x{

	}
}
@media (max-width:700px){
	.block-item-icon{
		display: block;
	}
}
@media (max-width:570px){
	.resume_Hobby_conten li {
		grid-template-columns: repeat(1,1ft);
		display: block;
		margin-top: 0;
	}
}
